{{#each messages}}
  <div class="col-8">
    <p><span class="userEmail fw-bold">{{email}} :</span>
        <span class="userMessage text-success">{{message}}</span>
    </p>
  </div>
  <div class="col-4">
      <p>[{{date}}] </p>
  </div>
{{/each}}