<form action="/products" method="post">
    <input type="text" placeholder="Title" name="title">
    <input type="number" placeholder="Price" name="price">
    <input type="text" placeholder="IMG" name="thumbnail">
    <input type="submit" value="Enviar">
</form>
<br>
<p> Example:</p>
<p> Title: Vader Figure <br>
Price: 17 <br>
Thumbnail: https://m.media-amazon.com/images/I/91XyD3SUP+L._AC_SX569_.jpg</p>
<a type="button" href="/products">Go to products</a>
